@import "normalize";
body {
	background: white;
}

h1 {
	color: red;
	text-align: center;
}

.date {
    text-align: center;
}

// @import "sprite/*.png";
// $sprite-sprite-dimensions: true;
// @include all-sprite-sprites;