@import "normalize";

/* Sprites
   ========================================================================== */
[class*="sprite-"] {
	display: inline-block;
	vertical-align: middle;
}

@import "sprite/*.png";
$sprite-sprite-dimensions: true;
@include all-sprite-sprites;

/* User Styles
   ========================================================================== */

.container {
    max-width: 780px;
    margin: 0 auto;
}
